<section data-ng-controller="AddbooksController">
    <div class="page-header">
        <h1>New Addbook</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Name" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="name">Book No</label>
                    <div class="controls">
                        <input type="text" data-ng-model="bookno" id="name" class="form-control" placeholder="Book No" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="name">Course</label>
                    <div class="controls">
                        <input type="text" data-ng-model="course" id="name" class="form-control" placeholder="Course" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="name">Department</label>
                    <div class="controls">
                        <input type="text" data-ng-model="dept" id="name" class="form-control" placeholder="Department" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="name">Year</label>
                    <div class="controls">
                        <input type="text" data-ng-model="year" id="name" class="form-control" placeholder="Year" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="name">Semester</label>
                    <div class="controls">
                        <input type="text" data-ng-model="sem" id="name" class="form-control" placeholder="Semester" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="name">Available Books</label>
                    <div class="controls">
                        <input type="text" data-ng-model="avbooks" id="name" class="form-control" placeholder="Available Books" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="name">Edition</label>
                    <div class="controls">
                        <input type="text" data-ng-model="edition" id="name" class="form-control" placeholder="Edition" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="name">Publisher</label>
                    <div class="controls">
                        <input type="text" data-ng-model="publisher" id="name" class="form-control" placeholder="Publisher" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="name">Author</label>
                    <div class="controls">
                        <input type="text" data-ng-model="author" id="name" class="form-control" placeholder="Author" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="name">View/Download</label>
                    <div class="controls">
                        <input type="text" data-ng-model="download" id="name" class="form-control" placeholder="View/Download" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="name">Edit/Upload</label>
                    <div class="controls">
                        <input type="text" data-ng-model="edit" id="name" class="form-control" placeholder="Edit/Upload" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="name">Book Code</label>
                    <div class="controls">
                        <input type="text" data-ng-model="code" id="name" class="form-control" placeholder="Book Code" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="name">Serial No</label>
                    <div class="controls">
                        <input type="text" data-ng-model="sno" id="name" class="form-control" placeholder="Serial No" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="name">No of Copies</label>
                    <div class="controls">
                        <input type="text" data-ng-model="copy" id="name" class="form-control" placeholder="No of Copies" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="name">Register for a Book</label>
                    <div class="controls">
                        <input type="text" data-ng-model="regbook" id="name" class="form-control" placeholder="Register for a Book" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="name">Issue Date</label>
                    <div class="controls">
                        <input type="text" data-ng-model="issue" id="name" class="form-control" placeholder="Issue Date" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="name">Penalty</label>
                    <div class="controls">
                        <input type="text" data-ng-model="penalty" id="name" class="form-control" placeholder="Penalty" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="name">Renewal</label>
                    <div class="controls">
                        <input type="text" data-ng-model="renewal" id="name" class="form-control" placeholder="Renewal" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="name">Magazines</label>
                    <div class="controls">
                        <input type="text" data-ng-model="mag" id="name" class="form-control" placeholder="Magazines" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="name">Search Magazines</label>
                    <div class="controls">
                        <input type="text" data-ng-model="smag" id="name" class="form-control" placeholder="Search Magazines" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="name">Journals</label>
                    <div class="controls">
                        <input type="text" data-ng-model="Journals" id="name" class="form-control" placeholder="Journals" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="name">Newspaper</label>
                    <div class="controls">
                        <input type="text" data-ng-model="newspaper" id="name" class="form-control" placeholder="Newspaper" required>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>