<section data-ng-controller="AddbooksController" data-ng-init="findOne()">
    <div style="padding-bottom: 9px;margin: 40px 0 20px;">
        <h1></h1>
    </div>
    <form class="form-horizontal" data-ng-submit="update()" novalidate>
        <fieldset>
            <div class="container  login-page-bg">
                <div class="row" style=" margin-top: -18px;margin-left: -18px;">
                    <div class="col-md-12 login-page-toggle-active" ng-click="toggleInOut(true)">
                        <div clsss="row">
                            <div class="col-md-1">
                                <span class="h4-circle-active"><i class="glyphicon glyphicon-edit"></i></span>
                            </div>
                            <div class="col-md-11 pull-left">
                                <h3 class="text-default"> Edit Book </h3>
                            </div>
                        </div>                
                    </div>           
                </div>

           <div class="row">
            <div class="col-md-6">
                 <div class="col-md-10">
                 <div class="form-group">
                    <label class="control-label" >Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="addbook.name" id="name" class="form-control" placeholder="Name" required>
                    </div>
                </div>

               
                        </div>
               
            </div>
            <div class="col-md-6">
                 <div class="col-md-10">
	                <div class="form-group">
	                    <label class="control-label" >Date</label>
	                    <div class="controls">
	                       <p class="input-group">
	                          <input type="text" class="form-control" placeholder="dd-MMMM-yyyy" data-ng-model="addbook.date" datepicker-popup="dd-MMMM-yyyy" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
	                          <span class="input-group-btn">
	                            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
	                          </span>
	                        </p>
	                    </div>
	               	</div>
                
                        </div>
                    </div>
                </div>
                
                <div class="row">
            <div class="col-md-6">
               <!--  <pre>{{radioModel || 'null'}}</pre> -->
                <div class="btn-group">
                    <label class="btn btn-warning" ng-model="addbook.booktype" btn-radio="'department'">Department Book</label>
                    <label class="btn btn-warning" ng-model="addbook.booktype" btn-radio="'magazines'">Magazines</label>
                    <label class="btn btn-warning" ng-model="addbook.booktype" btn-radio="'journals'">Journals</label>
                    <label class="btn btn-warning" ng-model="addbook.booktype" btn-radio="'newspaper'">Newspaper</label>
                </div>
            </div>
        </div>
        
        <div class="row" ng-show="booktype == 'department'">
            <div class="col-md-6">
                 <div class="col-md-10"> 
	                <div class="form-group">
	                    <label class="control-label" >Book No</label>
	                    <div class="controls">
	                        <input type="number" data-ng-model="addbook.bookno" id="name" class="form-control" placeholder="Book No" required>
	                    </div>
	                </div> 
	                <div class="form-group">
	                    <label class="control-label" >Book Code</label>
	                    <div class="controls">
	                        <input type="text" data-ng-model="addbook.code" id="name" class="form-control" placeholder="Book Code" pattern="[0-9]+([\.,][0-9]+)*" required>
	                    </div>
	                </div>  
	                <div class="form-group">
	                    <label class="control-label" >Publisher</label>
	                    <div class="controls">
	                        <input type="text" data-ng-model="addbook.publisher" id="name" class="form-control" placeholder="Publisher" required>
	                    </div>
	                </div>             	
	                <div class="form-group">
	                    <label class="control-label" >Course</label>
	                    <div class="controls">
	                        <input type="text" data-ng-model="addbook.course" id="name" class="form-control" placeholder="Course" required>
	                    </div>
	                </div>
	                <div class="form-group">
	                    <label class="control-label" >Department</label>
	                    <div class="controls">
	                        <input type="text" data-ng-model="addbook.dept" id="name" class="form-control" placeholder="Department" required>
	                    </div>
	                </div>                 	
                 </div>
            </div>
             <div class="col-md-6">
                 	<div class="col-md-10">
	                  <div class="form-group">
	                    <label class="control-label" >Edition</label>
	                    <div class="controls">
	                        <input type="text" data-ng-model="addbook.edition" id="name" class="form-control" placeholder="Edition" required>
	                    </div>
	                </div>
	                 <div class="form-group">
	                    <label class="control-label" >Author</label>
	                    <div class="controls">
	                        <input type="text" data-ng-model="addbook.author" id="name" class="form-control" placeholder="Author" required>
	                    </div>
	                </div>
                 	<div class="form-group">
	                    <label class="control-label" >Year</label>
	                    <div class="controls">
	                        <input type="number" data-ng-model="addbook.year" id="name" class="form-control" placeholder="Year" required>
	                    </div>
	                </div>
	                <div class="form-group">
	                    <label class="control-label" >Semester</label>
	                    <div class="controls">
	                        <input type="text" data-ng-model="addbook.sem" id="name" class="form-control" placeholder="Semester" required>
	                    </div>
	                </div>
	                
	                
                 </div>
            </div>
        </div>   
                
             <div class="row">
            <div class="col-md-6" >
                <div class="col-md-10">
                    <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-primary btn-show">
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
                </div>
            </div>
        </div>   
            </div>
        </fieldset>
    </form>

   
</section>