<section data-ng-controller="StaffsController">
    <div style="padding-bottom: 9px;margin: 40px 0 20px;">
        <h1></h1>
    </div>
<form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
    <div class="container  login-page-bg">
        <div class="row" style=" margin-top: -18px;margin-left: -18px;">
            <div class="col-md-12 login-page-toggle-active" ng-click="toggleInOut(true)">
                <div clsss="row">
                    <div class="col-md-1">
                        <span class="h4-circle-active"><i class="glyphicon glyphicon-plus"></i></span>
                    </div>
                    <div class="col-md-11 pull-left">
                        <h3 class="text-default"> New Staff </h3>
                    </div>
                </div>                
            </div>           
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="col-md-10">

                    <div class="form-group">
                    <label class="control-label" for="name">First Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="First Name" required>
                    </div>
                    </div>
 					<div class="form-group">
	                    <label class="control-label" for="name">Last Name</label>
	                    <div class="controls">
	                        <input type="text" data-ng-model="lname" id="lname" class="form-control" placeholder="Last Name" required>
	                    </div>
                    </div>
                    <div class="form-group">
                    <label class="control-label" for="name">Department</label>
                    <div class="controls">
                        <input type="text" data-ng-model="dept" id="name" class="form-control" placeholder="Department" required>
                    </div>
                    </div>

                    <div class="form-group">
                    <label class="control-label" for="name">Staff Id</label>
                    <div class="controls">
                        <input type="number" data-ng-model="staffid" id="name" class="form-control" placeholder="Staff Id" required>
                    </div>
                    </div>

                    <div class="form-group">
                    <label class="control-label" for="name">Date of Birth</label>
                    <div class="controls">
                        <!-- <input type="text" data-ng-model="dob" id="name" class="form-control" placeholder="Date of Birth" required> -->

                        <p class="input-group">
                          <input type="text" class="form-control" placeholder="dd-MMMM-yyyy" data-ng-model="dob" datepicker-popup="dd-MMMM-yyyy" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                          </span>
                        </p>
                    </div>
                    </div>

                    <div class="form-group">
                    <label class="control-label" for="name">Permanent Address</label>
                    <div class="controls">
                        <textarea type="text" data-ng-model="peradd" row="3" id="name" class="form-control" placeholder="Permanent Address" required>
                        </textarea>
                    </div>
                    </div>

                    <div class="form-group">
                    <label class="control-label" for="name">Mail Id</label>
                    <div class="controls">
                        <input type="text" data-ng-model="mail" id="name" class="form-control" placeholder="Mail Id" required>
                    </div>
                    </div>

                    <div class="form-group">
                    <label class="control-label" for="name">Mobile No</label>
                    <div class="controls">
                        <input type="number" data-ng-model="mob" id="name" class="form-control" placeholder="Mobile No" required>
                    </div>
                    </div>

                    <div class="form-group">
                    <label class="control-label" for="name">Experience</label>
                    <div class="controls">
                        <input type="number" data-ng-model="experience" id="name" class="form-control" placeholder="Experience" required>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-10">

                    <div class="form-group">
                        <label class="control-label" for="name">Designation</label>
                        <div class="controls">
                            <input type="text" data-ng-model="designation" id="name" class="form-control" placeholder="Designation" required>
                        </div>
                    </div>

                    <div class="form-group">
                    <label class="control-label" for="name">Qualification</label>
                    <div class="controls">
                        <input type="text" data-ng-model="qualification" id="name" class="form-control" placeholder="Qualification" required>
                    </div>
                    </div>

                    <div class="form-group">
                    <label class="control-label" for="name">Maritial Status</label>
                    <div class="controls">
                        <select class="form-control" data-ng-model="maritial" id="name" class="form-control">
                          <option>Single</option>
                          <option>Married</option>
                        </select>
                    </div>
                    </div>
                    <div class="form-group">
                    <label class="control-label" for="name">Gender</label>
                    <div class="controls">
                         <select class="form-control" data-ng-model="gender" id="name" class="form-control">
                          <option>Male</option>
                          <option>Female</option>
                        </select>
                    </div>
                    </div>

                    <div class="form-group">
                    <label class="control-label" for="name">Religion</label>
                    <div class="controls">
                        <input type="text" data-ng-model="religion" id="name" class="form-control" placeholder="Religion" required>
                    </div>
                    </div>

                    <div class="form-group">
                    <label class="control-label" for="name">Caste</label>
                    <div class="controls">
                        <input type="text" data-ng-model="caste" id="name" class="form-control" placeholder="Caste" required>
                    </div>
                    </div>

                    <div class="form-group">
                    <label class="control-label" for="name">Community</label>
                    <div class="controls">
                        <input type="text" data-ng-model="community" id="name" class="form-control" placeholder="Community" required>
                    </div>
                    </div>


                   <!--  <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Name" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="name">Register No</label>
                    <div class="controls">
                        <input type="text" data-ng-model="regno" id="name" class="form-control" placeholder="Register No" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="name">Course</label>
                    <div class="controls">
                        <input type="text" data-ng-model="course" id="name" class="form-control"
                        placeholder="Course" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="name">Department</label>
                    <div class="controls">
                        <input type="text" data-ng-model="dept" id="name" class="form-control" 
                        placeholder="Department" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="name">Year</label>
                    <div class="controls">
                        <input type="text" data-ng-model="year" id="name" class="form-control" 
                        placeholder="Year" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="name">Section</label>
                    <div class="controls">
                        <input type="text" data-ng-model="sec" id="name" class="form-control" 
                        placeholder="Section" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="name">Current Semester</label>
                    <div class="controls">
                        <input type="text" data-ng-model="cursem" id="name" class="form-control"
                        placeholder="Current Semester" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="name">No of days leave taken</label>
                    <div class="controls">
                        <input type="text" data-ng-model="leave" id="name" class="form-control" placeholder="No of days leave taken" required>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-10">
                     <div class="form-group">
                    <label class="control-label" for="Attendance Percentage">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="attendance" id="name" class="form-control" placeholder="Attendance Percentage" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="name">Unit I Mark</label>
                    <div class="controls">
                        <input type="text" data-ng-model="mark1" id="name" class="form-control" placeholder="Unit I Mark" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="name">Unit II Mark</label>
                    <div class="controls">
                        <input type="text" data-ng-model="mark2" id="name" class="form-control" placeholder="Unit II Mark" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="name">Model Mark</label>
                    <div class="controls">
                        <input type="text" data-ng-model="mark3" id="name" class="form-control" placeholder="Name" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="name">Overall Internal Mark</label>
                    <div class="controls">
                        <input type="text" data-ng-model="mark4" id="name" class="form-control" placeholder="Overall Internal Mark" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="name">External Mark</label>
                    <div class="controls">
                        <input type="text" data-ng-model="mark5" id="name" class="form-control" placeholder="External Mark" required>
                    </div>
                </div> -->


                <div class="form-group">
                    <input type="submit" class="btn btn-primary btn-show">
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
                </div>
            </div>
        </div>
    </div>
 </fieldset>
        </form>
    
</section>