<section data-ng-controller="StaffsController" data-ng-init="find()">
    <div style="padding-bottom: 9px;margin: 40px 0 20px;">
        <h1></h1>
    </div>

    <div class="container  login-page-bg">
        <div class="row" style=" margin-top: -18px;margin-left: -18px;">
            <div class="col-md-12 login-page-toggle-active" ng-click="toggleInOut(true)">
                <div clsss="row">
                    <div class="col-md-1">
                        <span class="h4-circle-active"><i class="glyphicon glyphicon-list"></i></span>
                    </div>
                    <div class="col-md-11 pull-left">
                        <h3 class="text-default"> Staffs </h3>
                    </div>
                </div>                
            </div>           
        </div>
        <br/><br/>
        <div class="row">
            <div class="col-md-12">
                 <div class="list-group">
                 <div id="grid1" ui-grid="gridOptions" ui-grid-cellNav ui-grid-edit ui-grid-resize-columns ui-grid-pinning ui-grid-selection ui-grid-move-columns class="grid"></div> 
                
                    <!-- <a data-ng-repeat="staff in staffs" data-ng-href="#!/staffs/{{staff._id}}" class="list-group-item">
                        <small class="list-group-item-text">
                            Posted on
                            <span data-ng-bind="staff.created | date:'medium'"></span>
                            by
                            <span data-ng-bind="staff.user.displayName"></span>
                        </small>
                        <h4 class="list-group-item-heading" data-ng-bind="staff.name"></h4>
                    </a> -->
                </div>
                <div class="alert alert-warning text-center" data-ng-hide="!staffs.$resolved || staffs.length">
                    No Staffs yet, why don't you <a href="/#!/staffs/create">create one</a>?
                </div>
            </div>
        </div>
    </div>


   
</section>