<section data-ng-controller="StaffsController" data-ng-init="findOne()">
	<div style="padding-bottom: 9px;margin: 40px 0 20px;">
        <h1></h1>
    </div>
<div class="container  login-page-bg">
        <div class="row" style=" margin-top: -18px;margin-left: -18px;">
            <div class="col-md-12 login-page-toggle-active" ng-click="toggleInOut(true)">
                <div clsss="row">
                    <div class="col-md-1">
                        <span class="h4-circle-active"><i class="glyphicon glyphicon-edit"></i></span>
                    </div>
                    <div class="col-md-11 pull-left">
                        <h3 class="text-default"> Edit Addstaff </h3>
                    </div>
                </div>                
            </div>           
        </div>

        <div class="row">
            <div class="col-md-12">
               <div class="page-header">
					<h1 data-ng-bind="staff.name"></h1>
				</div>


				<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == staff.user._id))">
					<a class="btn btn-primary" href="/#!/staffs/{{staff._id}}/edit">
						<i class="glyphicon glyphicon-edit"></i>
					</a>
					<a class="btn btn-primary" data-ng-click="remove();">
						<i class="glyphicon glyphicon-trash"></i>
					</a>
				</div>
				<small>
					<em class="text-muted">
						Posted on
						<span data-ng-bind="staff.created | date:'mediumDate'"></span>
						by
						<span data-ng-bind="staff.user.displayName"></span>
					</em>
				</small>						
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                	<div class="row">
                		<div class="col-md-6">
                			<div class="col-md-3">
                				<label class="control-label">Name:</label>
	                		</div>

	                		<div class="col-md-9">
	                			<p data-ng-bind="staff.name"></p>
	                		</div>
                		</div>
                		<div class="col-md-6">
                			<div class="col-md-3">
                				<label class="control-label">Department:</label>
	                		</div>

	                		<div class="col-md-9">
	                			<p data-ng-bind="staff.dept"></p>
	                		</div>
                		</div>
                	</div>
                	<div class="row">
                		<div class="col-md-6">
                			<div class="col-md-3">
                				<label class="control-label">Staff Id:</label>
	                		</div>

	                		<div class="col-md-9">
	                			<p data-ng-bind="staff.staffid"></p>
	                		</div>
                		</div>
                		<div class="col-md-6">
                			<div class="col-md-3">
                				<label class="control-label" >Date of Birth:</label>
	                		</div>

	                		<div class="col-md-9">
	                			<p data-ng-bind="staff.dob"></p>
	                		</div>
                		</div>
                	</div>
                	<div class="row">
                		<div class="col-md-6">
                			<div class="col-md-3">
                				<label class="control-label">Designation:</label>
	                		</div>

	                		<div class="col-md-9">
	                			<p data-ng-bind="staff.designation"></p>
	                		</div>
                		</div>
                		<div class="col-md-6">
                			<div class="col-md-3">
                				<label class="control-label">Experience:</label>
	                		</div>

	                		<div class="col-md-9">
	                			<p data-ng-bind="staff.experience"></p>
	                		</div>
                		</div>
                	</div>
                	<div class="row">
                		<div class="col-md-6">
                			<div class="col-md-3">
                				<label class="control-label">Marital Status:</label>
	                		</div>

	                		<div class="col-md-9">
	                			<p data-ng-bind="staff.maritial"></p>
	                		</div>
                		</div>
                		<div class="col-md-6">
                			<div class="col-md-3">
                				<label class="control-label">Religion:</label>
	                		</div>

	                		<div class="col-md-9">
	                			<p data-ng-bind="staff.religion"></p>
	                		</div>
                		</div>
                		</div>
                	<div class="row">
                		<div class="col-md-6">
                			<div class="col-md-3">
                				<label class="control-label">Community:</label>
	                		</div>

	                		<div class="col-md-9">
	                			<p data-ng-bind="staff.community"></p>
	                		</div>
                		</div>
                		
                	
                		<div class="col-md-6">
                			<div class="col-md-3">
                				<label class="control-label">Permanent Address:</label>
	                		</div>

	                		<div class="col-md-9">
	                			<p data-ng-bind="staff.peradd"></p>
	                		</div>
                		</div>
                		</div>
                	<div class="row">
                		<div class="col-md-6">
                			<div class="col-md-3">
                				<label class="control-label">Mail Id:</label>
	                		</div>

	                		<div class="col-md-9">
	                			<p data-ng-bind="staff.mail"></p>
	                		</div>
                		</div>
                		<div class="col-md-6">
                			<div class="col-md-3">
                				<label class="control-label">Mobile No:</label>
	                		</div>

	                		<div class="col-md-9">
	                			<p data-ng-bind="staff.mob"></p>
	                		</div>
                		</div>
                		</div>
                	<div class="row">
                		<div class="col-md-6">
                			<div class="col-md-3">
                				<label class="control-label">Qualification:</label>
	                		</div>

	                		<div class="col-md-9">
	                			<p data-ng-bind="staff.qualification"></p>
	                		</div>
                		</div>
                		<div class="col-md-6">
                			<div class="col-md-3">
                				<label class="control-label">Gender:</label>
	                		</div>

	                		<div class="col-md-9">
	                			<p data-ng-bind="staff.gender"></p>
	                		</div>
                		</div>
                		</div>
                	<div class="row">
                		<div class="col-md-6">
                			<div class="col-md-3">
                				<label class="control-label">Caste:</label>
	                		</div>

	                		<div class="col-md-9">
	                			<p data-ng-bind="staff.caste"></p>
	                		</div>
                		</div>
                
                	</div>

						
					</div>
				
            </div>
        </div>
    </div>
    
    

	
</section>
