<section data-ng-controller="LeavemangsController">
    <div style="padding-bottom: 9px;margin: 40px 0 20px;">
        <h1></h1>
    </div>

    <div class="container  login-page-bg">
        <div class="row" style=" margin-top: -18px;margin-left: -18px;">
            <div class="col-md-12 login-page-toggle-active" ng-click="toggleInOut(true)">
                <div clsss="row">
                    <div class="col-md-1">
                        <span class="h4-circle-active"><i class="glyphicon glyphicon-plus"></i></span>
                    </div>
                    <div class="col-md-11 pull-left">
                        <h3 class="text-default"> New Leave </h3>
                    </div>
                </div>                
            </div>           
        </div>

         <div class="row">
            <form class="form-horizontal" data-ng-submit="create()" novalidate>
                <fieldset>
            
                    <div class="col-md-6">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label" for="name">Leave Type</label>
                                <div class="controls">
                                    <select class="form-control" data-ng-model="leavetype" id="name" class="form-control">
                                         <option value="" class="">-- choose Leave Type --</option>
                                         <option value="Leave">Leave</option>
                                         <option value="Permission">Permission</option>
                                         <option value="GeneralPermission">General Permission</option>
                                         <option value="StudyLeave">Study Leave</option>
                                         <option value="SpecialPermission">Special Permission</option>
                                         <option value="OnDuty">On Duty</option>
                                         <option value="SemesterHoliday">Semester Holiday</option>
                                         <option value="IndustrialVisit">Industrial Visit</option>
                                         <option value="GeneralLeave">General Leave</option>
                                    </select>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="control-label" for="name">From Date</label>
                                <div class="controls">                                    
                                    <br>
                                      <!-- <pre>Selected time and date is: <em>{{fmdate}}</em></pre> -->
                     
                                      <datetimepicker min-date="minDate" show-weeks="showWeeks" hour-step="hourStep" minute-step="minuteStep" data-ng-model="fmdate" show-meridian="showMeridian" date-format="dd-MMM-yyyy" date-options="dateOptions" date-disabled="disabled(fmdate, mode)" readonly-time="false"></datetimepicker>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="control-label" for="name">Staff ( username )</label>
                                <div class="controls">
                                    <input type="text" class="form-control" ng-model="staffusername" ng-options="staffitem for staffitem in staffitems" required placeholder="Enter staff name" bs-typeahead>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-12">
                             <div class="form-group">
                                <label class="control-label" for="name">Reason Type</label>
                                <div class="controls">
                                    <select class="form-control" data-ng-model="reasontype" id="name" class="form-control">
                                         <option value="" class="">-- choose Reason Type --</option>
                                         <option value="Personal">Personal</option>
                                         <option value="CollegeWork">College Work</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="name">To Date</label>
                                <div class="controls">                                    
                                    <br>
                                      <!-- <pre>Selected time and date is: <em>{{todate}}</em></pre> -->
                     
                                      <datetimepicker min-date="minDate" show-weeks="showWeeks" hour-step="hourStep" minute-step="minuteStep" data-ng-model="todate" show-meridian="showMeridian" date-format="dd-MMM-yyyy" date-options="dateOptions" date-disabled="disabled(fmdate, mode)" readonly-time="false"></datetimepicker>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="name">Leave Reason</label>
                                <div class="controls">
                                   <textarea class="form-control" data-ng-model="leavereason"  rows="10"></textarea>
                                </div>
                            </div>

                             
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>

        <div class="row">

            <div class="col-md-6" style="margin-left:10px">
                 <form class="form-horizontal" data-ng-submit="create()" novalidate>
                    <fieldset>

                     
                        <!-- <div class="form-group">
                            <label class="control-label" for="name">Name</label>
                            <div class="controls">
                                <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Name" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="name">Roll No</label>
                            <div class="controls">
                                <input type="text" data-ng-model="rollno" id="name" class="form-control" placeholder="Roll No" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="name">Course</label>
                            <div class="controls">
                                <input type="text" data-ng-model="course" id="name" class="form-control" placeholder="Course" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="name">Department</label>
                            <div class="controls">
                                <input type="text" data-ng-model="dept" id="name" class="form-control" placeholder="Department" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="name">Year</label>
                            <div class="controls">
                                <input type="text" data-ng-model="year" id="name" class="form-control" placeholder="Year" required>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="control-label" for="name">Section</label>
                            <div class="controls">
                                <input type="text" data-ng-model="section" id="name" class="form-control" placeholder="Section" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="name">Reason</label>
                            <div class="controls">
                                <input type="text" data-ng-model="reason" id="name" class="form-control" placeholder="Reason" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="name">From</label>
                            <div class="controls">
                                <input type="text" data-ng-model="from" id="name" class="form-control" placeholder="From" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="name">To</label>
                            <div class="controls">
                                <input type="text" data-ng-model="to" id="name" class="form-control" placeholder="TO" required>
                            </div>
                        </div> -->

                        <div class="form-group">
                            <input type="submit" value="submit" class="btn btn-primary btn-show">
                        </div>
                        <div data-ng-show="error" class="text-danger">
                            <strong data-ng-bind="error"></strong>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

</section>