<section data-ng-controller="LeavemangsController" data-ng-init="findOne()">
    <div style="padding-bottom: 9px;margin: 40px 0 20px;">
        <h1></h1>
    </div>

    <div class="container  login-page-bg">
        <div class="row" style=" margin-top: -18px;margin-left: -18px;">
            <div class="col-md-12 login-page-toggle-active" ng-click="toggleInOut(true)">
                <div clsss="row">
                    <div class="col-md-1">
                        <span class="h4-circle-active"><i class="glyphicon glyphicon-edit"></i></span>
                    </div>
                    <div class="col-md-11 pull-left">
                        <h3 class="text-default"> Edit Leave </h3>
                    </div>
                </div>                
            </div>           
        </div>

        <div class="row">
            <div class="col-md-6" style="margin-left:10px">
                <form class="form-horizontal" data-ng-submit="update()" novalidate>
                    <fieldset>
                        <div class="form-group">
                            <label class="control-label" for="name">Name</label>
                            <div class="controls">
                                <input type="text" data-ng-model="leavemang.name" id="name" class="form-control" placeholder="Name" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="name">Roll No</label>
                            <div class="controls">
                                <input type="text" data-ng-model="leavemang.rollno" id="name" class="form-control" placeholder="Roll No" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="name">Course</label>
                            <div class="controls">
                                <input type="text" data-ng-model="leavemang.course" id="name" class="form-control" placeholder="Course" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="name">Department</label>
                            <div class="controls">
                                <input type="text" data-ng-model="leavemang.dept" id="name" class="form-control" placeholder="Department" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="name">Year</label>
                            <div class="controls">
                                <input type="text" data-ng-model="leavemang.year" id="name" class="form-control" placeholder="Year" required>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="control-label" for="name">Section</label>
                            <div class="controls">
                                <input type="text" data-ng-model="leavemang.section" id="name" class="form-control" placeholder="Section" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="name">Reason</label>
                            <div class="controls">
                                <input type="text" data-ng-model="leavemang.reason" id="name" class="form-control" placeholder="Reason" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="name">From</label>
                            <div class="controls">
                                <input type="text" data-ng-model="leavemang.from" id="name" class="form-control" placeholder="From" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="name">To</label>
                            <div class="controls">
                                <input type="text" data-ng-model="leavemang.to" id="name" class="form-control" placeholder="TO" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Update" class="btn btn-default">
                        </div>
                        <div data-ng-show="error" class="text-danger">
                            <strong data-ng-bind="error"></strong>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>


</section>