<section data-ng-controller="LeavemangsController" data-ng-init="findOne()">
	 <div style="padding-bottom: 9px;margin: 40px 0 20px;">
        <h1></h1>
    </div>
	<div class="container  login-page-bg">
        <div class="row" style=" margin-top: -18px;margin-left: -18px;">
            <div class="col-md-12 login-page-toggle-active" ng-click="toggleInOut(true)">
                <div clsss="row">
                    <div class="col-md-1">
                        <span class="h4-circle-active"><i class="glyphicon glyphicon-edit"></i></span>
                    </div>
                    <div class="col-md-11 pull-left">
                        <h3 class="text-default"> View Leave </h3>
                    </div>
                </div>                
            </div>           
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="page-header">

					<h1 data-ng-bind="leavemang.name"></h1>
					<div class="row">
                		<div class="col-md-6">
                			<div class="col-md-3">
                				<label class="control-label" for="name">Status:</label>
	                		</div>

	                		<div class="col-md-9">
	                			<p data-ng-bind="leavemang.status"></p>
	                		</div>
                		</div>
                		<div class="col-md-6">
                			<div class="col-md-3">
                				<label class="control-label" for="name">Department:</label>
	                		</div>

	                		<div class="col-md-9">
	                			<p data-ng-bind="leavemang.dept"></p>
	                		</div>
                		</div>
                	</div>
                	<div class="row">
                		<div class="col-md-6">
                			<div class="col-md-3">
                				<label class="control-label" for="name">Roll No:</label>
	                		</div>

	                		<div class="col-md-9">
	                			<p data-ng-bind="leavemang.rollno"></p>
	                		</div>
                		</div>
                		<div class="col-md-6">
                			<div class="col-md-3">
                				<label class="control-label" for="name">Course:</label>
	                		</div>

	                		<div class="col-md-9">
	                			<p data-ng-bind="leavemang.course"></p>
	                		</div>
                		</div>
                	</div>
                	<div class="row">
                		<div class="col-md-6">
                			<div class="col-md-3">
                				<label class="control-label" for="name">Year:</label>
	                		</div>

	                		<div class="col-md-9">
	                			<p data-ng-bind="leavemang.year"></p>
	                		</div>
                		</div>
                		<div class="col-md-6">
                			<div class="col-md-3">
                				<label class="control-label" for="name">Section:</label>
	                		</div>

	                		<div class="col-md-9">
	                			<p data-ng-bind="leavemang.section"></p>
	                		</div>
                		</div>
                	</div>
					<div class="row">
                		<div class="col-md-6">
                			<div class="col-md-3">
                				<label class="control-label" for="name">Leave Type:</label>
	                		</div>

	                		<div class="col-md-9">
	                			<p data-ng-bind="leavemang.leavetype"></p>
	                		</div>
                		</div>
                		<div class="col-md-6">
                			<div class="col-md-3">
                				<label class="control-label" for="name">Reason Type:</label>
	                		</div>

	                		<div class="col-md-9">
	                			<p data-ng-bind="leavemang.reasontype"></p>
	                		</div>
                		</div>
                	</div>
                	<div class="row">
                		<div class="col-md-6">
                			<div class="col-md-3">
                				<label class="control-label" for="name">From Date:</label>
	                		</div>

	                		<div class="col-md-9">
	                			<p data-ng-bind="leavemang.fmdate"></p>
	                		</div>
                		</div>
                		<div class="col-md-6">
                			<div class="col-md-3">
                				<label class="control-label" for="name">To Date:</label>
	                		</div>

	                		<div class="col-md-9">
	                			<p data-ng-bind="leavemang.todate"></p>
	                		</div>
                		</div>
                	</div>
                	<div class="row">
                		<div class="col-md-6">
                			<div class="col-md-3">
                				<label class="control-label" for="name">Staff:</label>
	                		</div>

	                		<div class="col-md-9">
	                			<p data-ng-bind="leavemang.staffusername"></p>
	                		</div>
                		</div>
                		<div class="col-md-6">
                			<div class="col-md-3">
                				<label class="control-label" for="name">Leave Reason:</label>
	                		</div>

	                		<div class="col-md-9">
	                			<p data-ng-bind="leavemang.leavereason"></p>
	                		</div>
                		</div>
                	</div>
						
					</div>
					<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == leavemang.user._id))">
						<a class="btn btn-primary" href="/#!/leavemangs/{{leavemang._id}}/edit">
							<i class="glyphicon glyphicon-edit"></i>
						</a>
						<a class="btn btn-primary" data-ng-click="remove();">
							<i class="glyphicon glyphicon-trash"></i>
						</a>
					</div>
					<small>
						<em class="text-muted">
							Posted on
							<span data-ng-bind="leavemang.created | date:'mediumDate'"></span>
							by
							<span data-ng-bind="leavemang.user.displayName"></span>
						</em>
					</small>
            </div>
        </div>
    </div>


</section>
