<section data-ng-controller="AddstudentsController">
    <div class="page-header">
        <h1></h1>
    </div>
    <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
    <div class="container  login-page-bg">
        <div class="row" style=" margin-top: -18px;margin-left: -18px;">
            <div class="col-md-12 login-page-toggle-active" ng-click="toggleInOut(true)">
                <div clsss="row">
                    <div class="col-md-1">
                        <span class="h4-circle-active"><i class="glyphicon glyphicon-plus"></i></span>
                    </div>
                    <div class="col-md-11 pull-left">
                        <h3 class="text-default"> New Addstudent </h3>
                    </div>
                </div>                
            </div>           
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="col-md-10">
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Name" required>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label" for="name">Date Of Birth</label>
                    <div class="controls">
                        <input type="text" data-ng-model="dateofbirth" id="name" class="form-control" placeholder="Date Of Birth" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="name">Roll No</label>
                    <div class="controls">
                        <input type="text" data-ng-model="rollno" id="name" class="form-control" 
                        placeholder="Roll No" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="name">Register No</label>
                    <div class="controls">
                        <input type="text" data-ng-model="regno" id="name" class="form-control" 
                        placeholder="Register No" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="name">Course</label>
                    <div class="controls">
                        <input type="text" data-ng-model="course" id="name" class="form-control" 
                        placeholder="Course " required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="name">Department</label>
                    <div class="controls">
                        <input type="text" data-ng-model="dept" id="name" class="form-control" 
                        placeholder="Department " required>
                    </div>
                </div>

            </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-10">
                    
                
                <div class="form-group">
                    <label class="control-label" for="name">Year</label>
                    <div class="controls">
                        <input type="text" data-ng-model="year" id="name" class="form-control" 
                        placeholder="Year " required>
                    </div>
                </div>

                
                <div class="form-group">
                    <label class="control-label" for="name">Section</label>
                    <div class="controls">
                        <input type="text" data-ng-model="section" id="name" class="form-control" 
                        placeholder="Section " required>
                    </div>
                </div>

                
                <div class="form-group">
                    <label class="control-label" for="name">Mail Id</label>
                    <div class="controls">
                        <input type="text" data-ng-model="mail" id="name" class="form-control" 
                        placeholder="Mail Id " required>
                    </div>
                </div>

                
                <div class="form-group">
                    <label class="control-label" for="name">Mobile No</label>
                    <div class="controls">
                        <input type="text" data-ng-model="mobile" id="name" class="form-control" 
                        placeholder="Mobile No " required>
                    </div>
                </div>

                
                <div class="form-group">
                    <label class="control-label" for="name">Blood Group</label>
                    <div class="controls">
                        <input type="text" data-ng-model="blood" id="name" class="form-control" 
                        placeholder="Blood Group" required>
                    </div>
                </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                
                <h2>Dayscolar</h2>
                <div class="col-md-10">
                 <!--Dayscolar-->
                <div class="form-group">
                    <label class="control-label" for="name">Bus Route</label>
                    <div class="controls">
                        <input type="text" data-ng-model="bus" id="name" class="form-control" 
                        placeholder="Bus Route" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="name">Present Address</label>
                    <div class="controls">
                        <input type="text" data-ng-model="presentaddress" id="name" class="form-control" 
                        placeholder="Present Address" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="name">Permanent Address</label>
                    <div class="controls">
                        <input type="text" data-ng-model="permanentaddress" id="name" class="form-control" 
                        placeholder="Permanent Address" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="name">Father's Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="fname" id="name" class="form-control" 
                        placeholder="Father's Name" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="name">Occupation</label>
                    <div class="controls">
                        <input type="text" data-ng-model="occupation" id="name" class="form-control" 
                        placeholder="Occupation" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="name">Mobile Number</label>
                    <div class="controls">
                        <input type="text" data-ng-model="fmobno" id="name" class="form-control" 
                        placeholder="Mobile Number" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="name">Mother's Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="mname" id="name" class="form-control" 
                        placeholder="Mother's Name" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="name">Occupation</label>
                    <div class="controls">
                        <input type="text" data-ng-model="moccupation" id="name" class="form-control" 
                        placeholder="Occupation" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="name">Mobile Number</label>
                    <div class="controls">
                        <input type="text" data-ng-model="mmobno" id="name" class="form-control" 
                        placeholder="Mobile Number" required>
                    </div>
                </div>
</div>
            </div>
            <div class="col-md-6">
                <h2>Hostler</h2>
                <div class="col-md-10">
                <!--Hostler-->
                <div class="form-group">
                    <label class="control-label" for="name">Room No</label>
                    <div class="controls">
                        <input type="text" data-ng-model="roomno" id="name" class="form-control" 
                        placeholder="Room No" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="name">Permanent Address</label>
                    <div class="controls">
                        <input type="text" data-ng-model="permanentaddress" id="name" class="form-control" 
                        placeholder="Permanent Address" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="name">Local Guardian Address</label>
                    <div class="controls">
                        <input type="text" data-ng-model="localgaddress" id="name" class="form-control" 
                        placeholder="Local Guardian Address" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="name">Date of Joining</label>
                    <div class="controls">
                        <input type="text" data-ng-model="doj" id="name" class="form-control" 
                        placeholder="Date of Joining" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="name">Father's Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="fname" id="name" class="form-control" 
                        placeholder="Father's Name" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="name">Occupation</label>
                    <div class="controls">
                        <input type="text" data-ng-model="occupation" id="name" class="form-control" 
                        placeholder="Occupation" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="name">Mobile Number</label>
                    <div class="controls">
                        <input type="text" data-ng-model="fmobno" id="name" class="form-control" 
                        placeholder="Mobile Number" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="name">Mother's Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="mname" id="name" class="form-control" 
                        placeholder="Mother's Name" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="name">Occupation</label>
                    <div class="controls">
                        <input type="text" data-ng-model="moccupation" id="name" class="form-control" 
                        placeholder="Occupation" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="name">Mobile Number</label>
                    <div class="controls">
                        <input type="text" data-ng-model="mmobno" id="name" class="form-control" 
                        placeholder="Mobile Number" required>
                    </div>
                </div>


                <div class="form-group">
                    <input type="submit" class="btn btn-primary">
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </div>
            </div>
        </div>

    </div>

 </fieldset>
        </form>


</section>