<section data-ng-controller="StudentsController">
   <div style="padding-bottom: 9px;margin: 40px 0 20px;">
        <h1>Add Student</h1>
    </div>
    <div class="col-md-12 login-page-bg">
        <div data-ng-show="error" class="text-danger">
            <strong data-ng-bind="error"></strong>
        </div>
        <div class="row">
            <div class="col-md-4">
                <form name="articleForm" class="form-horizontal forgotPwd" data-ng-submit="create()" novalidate>
                    <fieldset>
                        <div class="form-group" ng-class="{ 'has-error': articleForm.title.$dirty && articleForm.title.$invalid }">
                            <label class="control-label" for="listofindustries">First Name</label>
                            <div class="controls">
                                <input name="first_name" type="text" data-ng-model="first_name" id="first_name" class="form-control" placeholder="first name" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="last_name">Last Name</label>
                            <div class="controls">
                                <input name="last_name" type="text" data-ng-model="last_name" id="last_name" class="form-control" placeholder="last name" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="address">Address</label>
                            <div class="controls">
                                <input name="address" type="text" data-ng-model="address" id="address" class="form-control" placeholder="address" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="city">City</label>
                            <div class="controls">
                                <input name="city" type="text" data-ng-model="city" id="city" class="form-control" placeholder="city" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="country">Country</label>
                            <div class="controls">
                                <input name="country" type="text" data-ng-model="country" id="country" class="form-control" placeholder="country" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="email">Email</label>
                            <div class="controls">
                                <input name="email" type="text" data-ng-model="email" id="email" class="form-control" placeholder="email" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="phone">Phone</label>
                            <div class="controls">
                                <input name="phone" type="text" data-ng-model="phone" id="phone" class="form-control" placeholder="phone" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-sm btn-success btn-show m-t-n-xs">
                        </div>                      
                    </fieldset>
                </form>
            </div>
            <div class="col-md-6">

            </div>
        </div>
        
    </div>
</section>