<section data-ng-controller="PlacementsController">
    <div class="page-header">
        <h1></h1>
    </div>

<div class="container  login-page-bg">
        <div class="row" style=" margin-top: -18px;margin-left: -18px;">
            <div class="col-md-12 login-page-toggle-active" ng-click="toggleInOut(true)">
                <div clsss="row">
                    <div class="col-md-1">
                        <span class="h4-circle-active"><i class="glyphicon glyphicon-plus"></i></span>
                    </div>
                    <div class="col-md-11 pull-left">
                        <h3 class="text-default"> Placement Details </h3>
                    </div>
                </div>                
            </div>           
        </div>

       <div class="row-md-3">
        <h5><b>Basic Information</b></h5>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label" for="name">First Name</label>
                <div class="controls">
                    <input type="text" data-ng-model="fname" id="name" class="form-control" placeholder="firstname" required>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label" for="name">Department</label>
                <div class="controls">
                    <input type="text" data-ng-model="dept" id="name" class="form-control" placeholder="department" required>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label" for="name">Present address</label>
                <div class="controls">
                    <input type="text" data-ng-model="preaddress" id="name" class="form-control" placeholder="present address" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="name"> Mail Id</label>
                <div class="controls">
                    <input type="text" data-ng-model="mail" id="name" class="form-control" placeholder="mail id" required>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label" for="name">Caste</label>
                <div class="controls">
                    <input type="text" data-ng-model="caste" id="name" class="form-control" placeholder="caste" required>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label" for="name">Last Name</label>
                <div class="controls">
                    <input type="text" data-ng-model="lname" id="name" class="form-control" placeholder="last name" required>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label" for="name">Year</label>
                <div class="controls">
                    <input type="text" data-ng-model="year" id="name" class="form-control" placeholder="year" required>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label" for="name">Permanent Address</label>
                <div class="controls">
                    <input type="text" data-ng-model="peraddress" id="name" class="form-control" placeholder="permanent address" required>
                </div>
            </div>
             <div class="form-group">
                <label class="control-label" for="name">Nationality</label>
                <div class="controls">
                    <input type="text" data-ng-model="nation" id="name" class="form-control" placeholder="nationality" required>
                </div>
            </div>

             <div class="form-group">
                <label class="control-label" for="name">Sex</label>
                <div class="controls">
                    <input type="text" data-ng-model="sex" id="name" class="form-control" placeholder="sex" required>
                </div>
            </div>
        </div>
      </div>
    <div class="col-md-4">
              <div class="form-group">
                <label class="control-label" for="name">Course</label>
                <div class="controls">
                    <input type="text" data-ng-model="course" id="name" class="form-control" placeholder="course" required>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label" for="name">Roll No</label>
                <div class="controls">
                    <input type="text" data-ng-model="rollno" id="name" class="form-control" placeholder="roll no" required>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label" for="name">Mobile No</label>
                <div class="controls">
                    <input type="text" data-ng-model="mobno" id="name" class="form-control" placeholder="mobiles no" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="name">Community</label>
                <div class="controls">
                    <input type="text" data-ng-model="community" id="name" class="form-control" placeholder=" community" required>
                </div>
            </div>
             <div class="form-group">
                <label class="control-label" for="name">Date Of Birth</label>
                <div class="controls">
                    <input type="text" data-ng-model="dob" id="name" class="form-control" placeholder=" date of birth" required>
                </div>
            </div>

        </div>
        <div class="row-md-3">
        <h5><b>Mark Details</b></h5>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label" for="name">Current semester </label>
                <div class="controls">
                    <input type="text" data-ng-model="cursem" id="name" class="form-control" placeholder=" current semester" required>
                </div>
            </div>

                 <div class="form-group">
                <label class="control-label" for="name">10th Medium Of Study  </label>
                <div class="controls">
                    <input type="text" data-ng-model="xmedofstudy" id="name" class="form-control" placeholder=" 10th medium of study" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="name"> Total Percentage  </label>
                <div class="controls">
                    <input type="text" data-ng-model="totalper" id="name" class="form-control" placeholder=" total perce" required>
                </div>
            </div>

    </div>

    <div class="col-md-4">
            <div class="form-group">
                <label class="control-label" for="name"> GPA</label>
                <div class="controls">
                    <input type="text" data-ng-model="gpa" id="name" class="form-control" placeholder=" gpa" required>
                </div>
            </div>
        </div>

         <div class="col-md-4">
            <div class="form-group">
                <label class="control-label" for="name"> CGPA</label>
                <div class="controls">
                    <input type="text" data-ng-model="cgpa" id="name" class="form-control" placeholder=" cgpa" required>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label" for="name">School Name</label>
                <div class="controls">
                    <input type="text" data-ng-model="scname" id="name" class="form-control" placeholder=" school name" required>
                </div>
            </div>
        </div>

    <div class="col-md-4">
            <div class="form-group">
                <label class="control-label" for="name">School Location</label>
                <div class="controls">
                    <input type="text" data-ng-model="sclocation" id="name" class="form-control" placeholder="school location" required>
                </div>
            </div>

    </div>
    
   <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <!--  <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Name" required>
                    </div>
                </div>-->
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
                    <div data-ng-show="error" class="text-danger">
                        <strong data-ng-bind="error"></strong>
                    </div>
            </fieldset>
        </form>
    </div> 
    </div>

    
</section>