<section data-ng-controller="PlacementsController" data-ng-init="findOne()">
	<div style="padding-bottom: 9px;margin: 40px 0 20px;">
        <h1></h1>
    </div>
<div class="container  login-page-bg">
        <div class="row" style=" margin-top: -18px;margin-left: -18px;">
            <div class="col-md-12 login-page-toggle-active" ng-click="toggleInOut(true)">
                <div clsss="row">
                    <div class="col-md-1">
                        <span class="h4-circle-active"><i class="glyphicon glyphicon-edit"></i></span>
                    </div>
                    <div class="col-md-11 pull-left">
                        <h3 class="text-default"> View Placement </h3>
                    </div>
                </div>                
            </div>           
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
					<h1 data-ng-bind="placement.fname"></h1>
					<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == placement.user._id))">
					<a class="btn btn-primary" href="/#!/placements/{{placement._id}}/edit">
						<i class="glyphicon glyphicon-edit"></i>
					</a>
					<a class="btn btn-primary" data-ng-click="remove();">
						<i class="glyphicon glyphicon-trash"></i>
					</a>
				</div>
				<small>
					<em class="text-muted">
						Posted on
						<span data-ng-bind="placement.created | date:'mediumDate'"></span>
						by
						<span data-ng-bind="placement.user.displayName"></span>
					</em>
				</small>
				<hr>
					<div class="row">
						<div class="col-md-6">
                			<div class="col-md-3">
                				<label class="control-label" for="name">First Name:</label>
	                		</div>

	                		<div class="col-md-9">
	                			<p data-ng-bind="placement.fname"></p>
	                		</div>
                		</div>
                		<div class="col-md-6">
                			<div class="col-md-3">
                				<label class="control-label" for="name">Last Name:</label>
	                		</div>

	                		<div class="col-md-9">
	                			<p data-ng-bind="placement.lname"></p>
	                		</div>
                		</div>
                	</div>
                	<div class="row">
						<div class="col-md-6">
                			<div class="col-md-3">
                				<label class="control-label" for="name">Course:</label>
	                		</div>

	                		<div class="col-md-9">
	                			<p data-ng-bind="placement.course"></p>
	                		</div>
                		</div>
                		<div class="col-md-6">
                			<div class="col-md-3">
                				<label class="control-label" for="name">Department:</label>
	                		</div>

	                		<div class="col-md-9">
	                			<p data-ng-bind="placement.dept"></p>
	                		</div>
                		</div>
                	</div>
                	<div class="row">
						<div class="col-md-6">
                			<div class="col-md-3">
                				<label class="control-label" for="name">Year:</label>
	                		</div>

	                		<div class="col-md-9">
	                			<p data-ng-bind="placement.year"></p>
	                		</div>
                		</div>
                		<div class="col-md-6">
                			<div class="col-md-3">
                				<label class="control-label" for="name">Roll No:</label>
	                		</div>

	                		<div class="col-md-9">
	                			<p data-ng-bind="placement.rollno"></p>
	                		</div>
                		</div>
                	</div>
                	<div class="row">
						<div class="col-md-6">
                			<div class="col-md-3">
                				<label class="control-label" for="name">Present address:</label>
	                		</div>

	                		<div class="col-md-9">
	                			<p data-ng-bind="placement.preaddress"></p>
	                		</div>
                		</div>
                		<div class="col-md-6">
                			<div class="col-md-3">
                				<label class="control-label" for="name">Permanent Address:</label>
	                		</div>

	                		<div class="col-md-9">
	                			<p data-ng-bind="placement.peraddress"></p>
	                		</div>
                		</div>
                	</div>
                	<div class="row">
						<div class="col-md-6">
                			<div class="col-md-3">
                				<label class="control-label" for="name">Mobile No:</label>
	                		</div>

	                		<div class="col-md-9">
	                			<p data-ng-bind="placement.mobno"></p>
	                		</div>
                		</div>
                		<div class="col-md-6">
                			<div class="col-md-3">
                				<label class="control-label" for="name">Mail Id:</label>
	                		</div>

	                		<div class="col-md-9">
	                			<p data-ng-bind="placement.mail"></p>
	                		</div>
                		</div>
                	</div>
                	<div class="row">
						<div class="col-md-6">
                			<div class="col-md-3">
                				<label class="control-label" for="name">Date Of Birth:</label>
	                		</div>

	                		<div class="col-md-9">
	                			<p data-ng-bind="placement.dob"></p>
	                		</div>
                		</div>
                		<div class="col-md-6">
                			<div class="col-md-3">
                				<label class="control-label" for="name">Sex:</label>
	                		</div>

	                		<div class="col-md-9">
	                			<p data-ng-bind="placement.sex"></p>
	                		</div>
                		</div>
                	</div>
                	<div class="row">
						<div class="col-md-6">
                			<div class="col-md-3">
                				<label class="control-label" for="name">Nationality:</label>
	                		</div>

	                		<div class="col-md-9">
	                			<p data-ng-bind="placement.nation"></p>
	                		</div>
                		</div>
                		<div class="col-md-6">
                			<div class="col-md-3">
                				<label class="control-label" for="name">Community:</label>
	                		</div>

	                		<div class="col-md-9">
	                			<p data-ng-bind="placement.community"></p>
	                		</div>
                		</div>
                	</div>
                	<div class="row">
						<div class="col-md-6">
                			<div class="col-md-3">
                				<label class="control-label" for="name">Caste:</label>
	                		</div>

	                		<div class="col-md-9">
	                			<p data-ng-bind="placement.caste"></p>
	                		</div>
                		</div>
                		<div class="col-md-6">
                			
                		</div>
                	</div>
                	<hr>
                	<h4 class="text-info">Mark Details</h4>
                	<div class="row">
						<div class="col-md-6">
                			<div class="col-md-3">
                				<label class="control-label" for="name">Current semester:</label>
	                		</div>

	                		<div class="col-md-9">
	                			<p data-ng-bind="placement.cursem"></p>
	                		</div>
                		</div>
                		<div class="col-md-6">
                			<div class="col-md-3">
                				<label class="control-label" for="name">10th Medium Of Study:</label>
	                		</div>

	                		<div class="col-md-9">
	                			<p data-ng-bind="placement.xmedofstudy"></p>
	                		</div>
                		</div>
                	</div>
                	<div class="row">
                		<div class="col-md-6">
                			<div class="col-md-3">
                				<label class="control-label" for="name">GPA:</label>
	                		</div>

	                		<div class="col-md-9">
	                			<p data-ng-bind="placement.gpa"></p>
	                		</div>
                		</div>
                		<div class="col-md-6">
                			<div class="col-md-3">
                				<label class="control-label" for="name">CGPA:</label>
	                		</div>

	                		<div class="col-md-9">
	                			<p data-ng-bind="placement.cgpa"></p>
	                		</div>
                		</div>
                	</div>
                	<div class="row">
                		<div class="col-md-6">
                			<div class="col-md-3">
                				<label class="control-label" for="name">School Name:</label>
	                		</div>

	                		<div class="col-md-9">
	                			<p data-ng-bind="placement.scname"></p>
	                		</div>
                		</div>
                		<div class="col-md-6">
                			<div class="col-md-3">
                				<label class="control-label" for="name">School Location:</label>
	                		</div>

	                		<div class="col-md-9">
	                			<p data-ng-bind="placement.sclocation"></p>
	                		</div>
                		</div>
				</div>
				<div class="row">
                		<div class="col-md-6">
                			<div class="col-md-3">
                				<label class="control-label" for="name">Total Percentage:</label>
	                		</div>

	                		<div class="col-md-9">
	                			<p data-ng-bind="placement.totalper"></p>
	                		</div>
                		</div>
                		<div class="col-md-6">
                			
                		</div>
				</div>
				
            </div>
        </div>
    </div>

</section>
